spring:
  application:
    name: bank-api
  data:
    mongodb:
      uri: ${MONGO_URI:mongodb://localhost:27017/bank}
  jpa:
    open-in-view: false

server:
  port: ${SERVER_PORT:8080}
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health,ready,live
  endpoint:
    health:
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
